body{
  font-family: 'Inter',sans-serif;
  background-color: var(--dark-10);
  color: var(--white);
}
.container{
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}
.wrapper{
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
}
.hero-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content{
  width: 590px;
  margin: 160px 0;
}
.hero__title{
  margin: 16px 0 24px 0;
  font-size: 48px;
}
.hero__paragraph{
  font-size: 24px;
}
.hero__paragraph--color{
  color: var(--brand-color-green);
}
.hero-img{
  width: 400px;
  height: 400px;
}
.cards__section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,424px);
  gap: 40px 32px;
  margin-bottom: 80px;
}
.card{
  width: 592px;
  height: 424px;
  border: 1px solid var(--dark-40);
  border-radius: 8px;
  overflow: hidden;
}
.cards__img{
  background-color: var(--brand-color-purple);
  height: 246px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_content{
  padding: 32px;
}
.card__buttons{
  margin-top: 32px;
  display: flex;
  gap: 32px;
}




